{% extends 'adminhtml/index.html' %}
{% load static %}



{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Category Managment</h1>

					<div class="row">
						<div class="col-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0"> Add Category</h5>
								</div>
								<div class="card-body">
									<form action="{% url 'add_category' %}" method="POST">
										{% csrf_token %}
										<!-- Name input -->
										<div class="form-outline mb-4">
										  <input type="text" name="name" id="form5Example1" placeholder="Enter Category Name" class="form-control" />
										  {% comment %} <label class="form-label" for="form5Example1">Category Name</label> {% endcomment %}
										</div>
									  
									
										<!-- Submit button -->
										<button type="submit" class="btn btn-dark btn-block mb-4">Add Category</button>
									  </form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

			{% if msg %}
			<script>
				swal.fire({
					icon: 'success',
					title:'Added',
					text:'Category Added successFully'
				})
				
			
			
				setTimeout(function() {
					window.location.href="/Adminpanel/view_category/";
					
				  }, 1000);

			</script>
			{% endif %}
			{% if msg2 %}
			<script>
				swal.fire({
					icon: 'error',
					title:'Not Added',
					text:'Category Already Exists'
				})
				
			</script>
			{% endif %}
			
			{% endblock content %}