{% extends 'adminhtml/index.html' %}
{% load static %}



{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Coupen Managment</h1>

					<div class="row">
						<div class="col-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0"> Create Coupen</h5>
								</div>
								<div class="card-body">
									<form action="{% url 'create_coupen' %}" method="POST">
										{% csrf_token %}
										<!-- Name input -->
										<div class="form-outline mb-4">
										  {{form.code}}
										  {% comment %} <label class="form-label" for="form5Example1">Category Name</label> {% endcomment %}
										</div>
                                        <div class="form-outline mb-4">
                                            {{form.discount}}
                                            {% comment %} <label class="form-label" for="form5Example1">Category Name</label> {% endcomment %}
                                          </div>
                                          <div class="form-outline mb-4">
                                            <label>Choose Starting Date</label>
                                            {{form.valid_from}}
                                            {% comment %} <label class="form-label" for="form5Example1">Category Name</label> {% endcomment %}
                                          </div>
                                          <div class="form-outline mb-4">
                                            <label>Choose Ending Date</label>
                                            {{form.valid_to}}
                                            {% comment %} <label class="form-label" for="form5Example1">Category Name</label> {% endcomment %}
                                          </div>
                                          <div class="form-outline mb-4">
                                            <label>Active</label>
                                            {{form.active}}
                                            {% comment %} <label class="form-label" for="form5Example1">Category Name</label> {% endcomment %}
                                          </div>
									  
									
										<!-- Submit button -->
										<button type="submit" class="btn btn-dark btn-block mb-4">Create Coupen</button>
									  </form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			
			{% endblock content %}