{% extends 'adminhtml/index.html' %}
{% load static %}



{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Product Managment</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<a class="card-title btn btn-dark mb-0" href="{% url 'add_product' %}">Add Product</a>
								</div>
								<div class="card-body">
									<table class="table table-hover my-0">
										<thead>
											<tr>
												<th>S.No</th>
												<th class=" d-xl-table-cell">Image</th>
												<th class="d-xl-table-cell">Product Name</th>
												<th class="d-none d-xl-table-cell">Category</th>
												<th class="d-none d-xl-table-cell">Stock</th>
												<th class="d-md-table-cell">Action</th>
											</tr>
										</thead>
										<tbody>
											{% for p in product %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td><img src="{{p.image1.url}}" style="width:100px;"></td>
												<td>{{p.name|slice:":30"}}</td>
												<td class="d-none d-xl-table-cell">{{p.Category}}</td>
												{% comment %} <td class="d-none d-xl-table-cell"><a href="{% url 'edit_category' c.id %}" class="fa fa-pen"></a></td> {% endcomment %}
												<td class="d-none d-xl-table-cell"><span>{{p.quantity}}</span></td>
												<td class="d-md-table-cell"><a href="{% url 'edit_product' p.id %}" class="fa fa-pen"></a>&nbsp;&nbsp;&nbsp;<a href="{% url 'delete_product' p.id %}" class="fa fa-trash" style="color:red;"></a></td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			
			{% endblock content %}




			{% comment %} <main class="content">
				<div class="container-fluid p-0">   

					<h1 class="h3 mb-3">Blank Page</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Empty card</h5>
								</div>
								<div class="card-body">
									<table class="table table-hover my-0">
										<thead>
											<tr>
												<th>Name</th>
												<th class="d-none d-xl-table-cell">Start Date</th>
												<th class="d-none d-xl-table-cell">End Date</th>
												<th>Status</th>
												<th class="d-none d-md-table-cell">Assignee</th>
											</tr>
										</thead>
										<tbody>
											{% for  in  %}
											<tr>
												<td>Project Apollo</td>
												<td class="d-none d-xl-table-cell">01/01/2021</td>
												<td class="d-none d-xl-table-cell">31/06/2021</td>
												<td><span class="badge bg-success">Done</span></td>
												<td class="d-none d-md-table-cell">Vanessa Tucker</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main> {% endcomment %}
	

