{% extends 'adminhtml/index.html' %}
{% load static %}



{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">User Managment</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">User Details</h5>
								</div>
								<div class="row m-auto">
									
									<div class="col col-sm-6 col-md-6  col-xs-6 col-lg-6 text-right ">
										<form method="POST">
											{% csrf_token %}
									<div class="input-group rounded">
										
										<input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
										<button type="submit" <span class="input-group-text border-0" id="search-addon">
										  <i class="fas fa-search"></i>
										</span></button>
									  </div>
									</div>
                                <div class="col col-sm-6 col-md-4 col-xs-6 col-lg-4 text-right">
                                    <div class="pagination">
                                      <nav aria-label="Page navigation example">
                                          <ul class="pagination justify-content-center">
                                              {% if allusers.has_previous %}
                                                  <li class="page-item">
                                                      <a class="page-link" href="?page=1" aria-label="First">
                                                          <i class=" fa fa-angle-double-left"></i>
                                                      </a>
                                                  </li>
                                                  <li class="page-item">
                                                      <a class="page-link" href="?page={{ allusers.previous_page_number }}" aria-label="Previous">
                                                          <i class="fa fa-angle-left"></i>
                                                      </a>
                                                  </li>
                                              {% endif %}
                                              {% for page in allusers.paginator.page_range %}
                                                  {% if allusers.number == page %}
                                                      <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                                  {% elif page > allusers.number|add:'-3' and page < allusers.number|add:'3' %}
                                                      <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                                  {% endif %}
                                              {% endfor %}
                                              {% if allusers.has_next %}
                                                  <li class="page-item">
                                                      <a class="page-link" href="?page={{ allusers.next_page_number }}" aria-label="Next">
                                                          <i class="fa fa-angle-right"></i>
                                                      </a>
                                                  </li>
                                                  <li class="page-item">
                                                      <a class="page-link" href="?page={{ allusers.paginator.num_pages }}" aria-label="Last">
                                                          <i class="fa fa-angle-double-right"></i>
                                                      </a>
                                                  </li>
                                              {% endif %}
                                          </ul>
                                      </nav>
                                  </div>
                              </div>
							</div>
								<div class="card-body">
									<table class="table table-hover my-0">
										<thead>
											<tr>
												<th>Name</th>
												<th class="d-none d-xl-table-cell">Email</th>
												{% comment %} <th class="d-none d-xl-table-cell">Edit</th> {% endcomment %}
												<th>Action</th>
												<th class="d-none d-md-table-cell">Status</th>
											</tr>
										</thead>
										<tbody>
											{% for u in allusers %}
											<tr>
												<td>{{u.first_name}}</td>
												<td class="d-none d-xl-table-cell">{{u.email}}</td>
												{% comment %} <td class="d-none d-xl-table-cell"><i class="fa fa-pen"></td> {% endcomment %}
													{% if u.is_active %}
												<td><a class="btn btn-sm btn-danger" href="{% url 'userblock' u.id %}" onclick="confirmDelete(event)">Block</a></td>
												<td class="d-none d-md-table-cell"><span class="badge bg-success">{{u.is_active}}</span></td>
													{% else %}
													<td><a class="btn btn-sm btn-success" href="{% url 'userblock' u.id %}">Unblock</a></td>
												<td class="d-none d-md-table-cell"><span class="badge bg-danger">False</span></td>
												{% endif %}
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			<script>
				function confirmDelete(event) {
					event.preventDefault(); // prevent the link from redirecting immediately
					alertify.confirm('Message', 'Are You Sure Want to Block This User', function(){
						alertify.success('Blocked') 
						window.location.href = event.target.href;
						// redirect to the delete URL
					}, function(){ 
						alertify.error('Cancel')
					});
			    }
			</script>
			{% endblock content %}