{% extends 'flip/index.html' %}
{% load static %}
{% block sidebar %}{% endblock sidebar %}

  {% comment %} <!-- ================================== TOP NAVIGATION ================================== -->
  <div class="body-content outer-top-xs">
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-3 sidebar'> 
  <div class="side-menu animate-dropdown outer-bottom-xs">


    <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Account Settings</div>
    <nav class="yamm megamenu-horizontal">
      <ul class="nav">
        
        
        
        
       
        
        <li> <a href="{% url 'userprofile'%}"><i class="icon fa fa-chevron-right"></i>Dashboard</a> </li>
            <li> <a href="{% url 'editprofile' %}"><i class="icon fa fa-chevron-right"></i>Edit Profile</a> </li>
                <li> <a href="{% url 'changepassword' %}"><i class="icon fa fa-chevron-right"></i>Change Password</a> 
                  <li> <a href="{% url 'viewall_coupen' %}"><i class="icon fa fa-chevron-right"></i>Available Coupen</a> 


                    <li> <a href="{% url 'logout' %}"><i class="icon fa fa-power-off"></i>Logout</a> 
          <!-- /.dropdown-menu --> </li>
        <!-- /.menu-item -->
       
          
          
          
        </ul>
        <!-- /.nav --> 
      </nav>
      <!-- /.megamenu-horizontal --> 
    </div>
    
    <!-- /.side-menu -->  {% endcomment %}
 
{% block content %}
 <div class="container" style="overflow: scroll;">
<div class="body-content outer-top-xs">
  
    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12 sidebar'> 
<div class="side-menu animate-dropdown outer-bottom-xs">


  <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Account Settings</div>
  <nav class="yamm megamenu-horizontal">
    <ul class="nav">
      
      
      
      <ul class="dropdown-menu">
                  
        {% comment %} <div class="row">
         
        </div> {% endcomment %}
        <!-- /.row --> 
      </li>
      <!-- /.yamm-content -->
    </ul>
     
      
      <li> <a href="{% url 'userprofile'%}"><i class="icon fa fa-chevron-right"></i>Dashboard</a> </li>
          <li> <a href="{% url 'editprofile' %}"><i class="icon fa fa-chevron-right"></i>Edit Profile</a> </li>
              <li> <a href="{% url 'changepassword' %}"><i class="icon fa fa-chevron-right"></i>Change Password</a> 
                <li> <a href="{% url 'viewall_coupen' %}"><i class="icon fa fa-chevron-right"></i>Available Coupen</a> 


                  <li> <a href="{% url 'logout' %}"><i class="icon fa fa-power-off"></i>Logout</a> 
        <!-- /.dropdown-menu --> </li>
      <!-- /.menu-item -->
     
        
        
        
      </ul>
      <!-- /.nav --> 
    </nav>
    <!-- /.megamenu-horizontal --> 
  </div>

</div>
            <div class="row">
            <main class="col-xs-12 col-sm-12 col-md-8">

                <div class="card" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; background-color:white;">
                   
                        <strong class="d-inline-block mr-4">
                            Logged in as:
                        </strong>
                        <span>{{user.first_name}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body"style="text-align:center">
                                       <h5 class="card-title">
                                            Total Orders
                                        </h5>
                                        <!-- put order count from database-->
                                       <h4>{{order_count}}</h4>
                                        <a href="">View orders</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card"style="text-align:center">
                                    <div class="card-body">
                                       <img src="{{Userprofile.image.url}}" alt="User Profile Picture"width="100"height="100"style="border-radius:50%;">
                                    <p class="mb-0">{{user.email}}</p>
                                    <p>{{profileupdate.phone}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="card" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; background-color:white; overflow: scroll;">
                  <div class="card-body" >
                    <table class="table table-borderless">
                      <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">order date</th>
                          <th scope="col">Tracking Number</th>
                          <th scope="col">Total Price</th>
                          <th scope="col">Status</th>
                          <th scope="col">Invoice</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
      
                      <tbody>
                        {% for item in orderitem %}
                        <tr>
                          <td>{{ item.created_at }}</td>
                          <td>{{ item.order_number }}</td>
                          <td>₹ {{ item.order_total }}</td>
                          {% if item.status == 'Cancelled' %}
                          <td class="text-danger"><b>{{ item.status }}</b></td>
                          {% elif item.status == 'Order Confirmed' %}
                          <td class="text-primary"><b>{{ item.status }}</b></td>
                          {% else %}
                          <td class="text-success fw-bold">
                            <b>{{ item.status }}</b>
                          </td>
                          {% endif %}
                          <td><a href="{% url 'invoice' item.order_number %}"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
                          
                          <td>
                          
                              <a href="{% url 'myorders' item.order_number  %}"class="btn btn-primary">View</a>
                              
                          </td>
                        </tr>
      
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                
                {% comment %} <div>
                  <h2 class="text-center">Your order history is empty</h2>
                  <div class="text-center">
                    <a class="btn_1" href="{%url 'category'%}">Continue shopping..</a>
                  </div>
                </div>
                {%endif%} {% endcomment %}
                  
            </main>
          </div>
            </div>
            </div>
        
        </div> 

       
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
{% endblock content %}



